<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузчик папок</title>
    <link rel='stylesheet' href='static/css/uploader.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="control-panel">
        <h2>Ваши папочки</h2>
        <div id="folder-list" class="folder-list"></div>
        
        <div class="action-buttons">
            <button id="add-folder-btn" class="add-folder-btn">
                <i class="fas fa-plus"></i> Загрузить папочку
            </button>
        </div>
    </div>

    <template id="folder-template">
        <div class="folder">
            <div class="folder-header">
                <button class="toggle-files-btn">
                    <i class="fas fa-chevron-right folder-toggle-icon"></i>
                    <span class="folder-name"></span>
                </button>
                <progress class="progress-bar" value="0" max="100"></progress>
            </div>
            <ul class="file-list">  
            </ul>
        </div>
    </template>

    <input type="file" id="file-input" webkitdirectory directory style="display: none;" />

    <script src="static/js/uploader.js"></script>
</body>
</html>
