html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: inline-flex;             
    justify-content: center;   
    align-items: center;  
     
    background-color: #2e2e2e; 
}