body {
    font-family: 'Arial', sans-serif;
    background-color: #2e2e2e;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.control-panel {
    position: relative; 
    width: 350px;
    height: 100vh;
    background-color: #3c3f3b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

.folder-list {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.folder-list::-webkit-scrollbar {
    width: 5px;
}

.folder-list::-webkit-scrollbar-thumb {
    background-color: #ecdfcca9;
    border-radius: 10px;
}

.folder-list::-webkit-scrollbar-thumb:hover {
    background-color: #ECDFCC;
}

.folder {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.folder:hover {
    background-color: #424641;;
}

.folder-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 10px;
}

.toggle-files-btn, .delete-folder-btn, .add-folder-btn {
    background: none;
    border: none;
    color: #ecdfcca8;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toggle-files-btn.open {
    color: #ECDFCC; 
}

.toggle-files-btn.open i {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.toggle-files-btn:hover, .delete-folder-btn:hover {
    color: #ECDFCC; 
}

.toggle-files-btn i {
    transition: transform 0.3s ease;
}

.folder-name {
    font-size: 18px;
    margin-left: 10px;
    flex-grow: 1;
}


.progress-bar {
    height: 5px;
}

.file-list {
    font-size: 12px;
    margin-top: 10px;
    list-style-type: none;
    padding-left: 20px;
    color: #ECDFCC;
    display: none;
}

.file-list li {
    margin-left: 15px;
    margin-bottom: 5px;
}

progress {
    appearance: none; 
}

progress::-webkit-progress-value {
    background-color: #ECDFCC; 
}

progress::-moz-progress-bar {
    background-color: #ECDFCC; 
}

progress::-ms-fill {
    background-color: #ECDFCC;
}

.add-folder-btn {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #3c3f3b;
    cursor: pointer;
    color: #ecdfcc50;
    transition: color 0.3s ease, border 0.3s ease;
    justify-content: center;
}

.add-folder-btn:hover {
    color: #ecdfcc9f;
    border: 1px solid #ecdfcc3d;
}

.add-folder-btn:active {
    color: #ECDFCC;
    border: 2px solid #ECDFCC;
}



